*~
*.swp
*.swo
node_modules
.gpgpass
ondemand.sec
virtualenv
stage/*
!stage/.keep
.venv/
packages/*/deb/build
!packages/*/deb/build/.keep
pkg/
*.gem
lib/ood_packaging/build_box/docker-image/Dockerfile
lib/ood_packaging/build_box/docker-image/inituidgid.sh
lib/ood_packaging/build_box/docker-image/install.sh
