name: Unit tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  unit-tests:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        ruby: ["2.7.1", "3.0.4", "3.2.2", "3.3.8"]
        bundler: ["2.1.4"]
    runs-on: ${{ matrix.os }}
    name: Unit tests
    steps:
      - name: Checkout ${{ github.sha	}}
        uses: actions/checkout@v4
      - name: Setup Ruby ${{ matrix.ruby }} using Bundler ${{ matrix.bundler }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: ${{ matrix.bundler }}
          bundler-cache: true
      - name: Run spec tests
        run: bundle exec rake spec
      - name: Run lint tests
        run: bundle exec rake rubocop
